*{
    font-family: Arial, Helvetica, sans-serif
}

header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    text-align: center;
    border: #282c34;
    border-radius: 10px;

}

nav {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li button {
    background-color: #61dafb;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

nav ul li button:hover {
    background-color: #21a1f1;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul a button {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid;
    border-radius: 10px;
    height: 50px;
    width: 150px;
}
