footer{
    background-color:#404757;
    color: white;
    display:flex;
    align-items:center; /* alinhar verticalmente */
    justify-content:center; /*alinhar horizontalmente */
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

